@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyBg {
  background-image: url("../src/assets/pokebg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.txtFont {
  font-family: "JetBrains Mono", monospace;
}

.randomBtn {
  width: 40px;
  height: 40px;
  margin-right: 7rem;
}
.t {
  margin-left: 30rem;
}

nav {
  height: 7rem;
}

.pokeNameTxt {
  font-size: 40px;
  text-align: center;
  margin-top: 5px;
}
.pokeNameBx {
  margin-top: 5rem;
  width: 447.36px;
  height: 69.06px;
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
  background: linear-gradient(
    270deg,
    #b80b00 33.78%,
    rgba(255, 118, 109, 0) 100%
  );
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

.abilityBx {
  margin-top:2rem ;
  left: 0px;
  top: 240.85px;

  background: linear-gradient(
    269.68deg,
    #b80b00 73.93%,
    rgba(162, 75, 69, 0) 116.54%
  );
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
}

.typeStyles{
  font-size: 20px;
  color: white;
  margin: 4rem;
}
.typeStyles2{
  font-size: 18px;
  color: white;
  text-align: center;
  float: right;
}


.p{
  width: 15rem;
  height: 15rem;
  
}
